<nav>
  <ul class="main-list">
    <li class="main-item">
      <a href="#"
         routerLink="/"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}"
         class="main-link">Интро</a>
    </li>
    <li class="main-item">
      <a href="#" routerLink="/wallets" routerLinkActive="active" class="main-link">Мои кошельки</a>

      <ul class="sub-list">
        <li class="sub-item">
          <a href="#" class="sub-link">Мой первый кошелек</a>
        </li>
        <li class="sub-item">
          <a href="#" class="sub-link">Второй кошелек</a>
        </li>
        <li class="sub-item">
          <a href="#" class="sub-link">Мой длинный длинный длинный длинный длинный длинный кошелек</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
