<div class="card">
  <div class="card-header" automation-id="title">
    {{wallet.name}}
  </div>
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center">
      <p class="card-text m-0" automation-id="subtitle">Ваши расходы за последнюю неделю</p>
      <button type="button"
              class="btn"
              automation-id="toggle-purchase-btn"
              [class.btn-primary]="!isAddPurchaseOpen"
              [class.btn-danger]="isAddPurchaseOpen"
              (click)="toggleAdd()">
        {{isAddPurchaseOpen ? 'Отменить' : 'Добавить'}}
      </button>
    </div>
  </div>
  <div class="card-body" *ngIf="isAddPurchaseOpen">
    <tfs-add-purchase automation-id="new-purchase-form" (addPurchase)="onAddPurchase($event)"></tfs-add-purchase>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let purchase of purchases; let i = index">
      <tfs-purchase-preview [attr.automation-id]="'purchase-preview-' + i"
                            [purchase]="purchase"
                            [isOpen]="isCurrentOpen(i)"
                            (edit)="onPurchaseEdit($event)"
                            (previewClick)="onPreviewClick(i)"
                            (previewDelete)="onPreviewDelete(purchase)"></tfs-purchase-preview>
    </li>
  </ul>
  <div class="card-footer text-center"
       [class.text-danger]="balance < 0"
       automation-id="total">
    Баланс: <strong>{{balance | currency:'RUB':''}}</strong>
  </div>
</div>
